{{#liquid-if isPodVisible}}
  {{#liquid-if podLayer.root class='liquid-pods'}}
    <div class="pod context">
      <div class="header">
        {{#if icon}}
          <div class="close">
            <div class='icon'>
              {{frost-icon icon=icon pack=pack}}
            </div>
          </div>
        {{/if}}

        <div class="title">
          <div class="primary">{{title}}
            <div class="comment">{{subTitle}}</div>
          </div>
          <div class='secondary'>
            {{description}}
          </div>
        </div>
      </div>
      <div class='content'>
        {{yield this (hash
          openPod=(action 'openPod')
          closePod=(action 'closePod')
          changePod=(action 'changePod')
        )}}
      </div>
      <div class="bottom">
        {{#each menuActions as |item|}}
          {{component item}}
        {{/each}}
      </div>
    </div>
  {{/liquid-if}}
{{/liquid-if}}
