{{#liquid-if isPodVisible}}
  {{#liquid-if podLayer.root class='liquid-pods'}}
    <div class="pod context">
      <div class="header">
        {{#if icon}}

        <div class="close">
          <div class='icon'>
            {{frost-icon icon=icon}}
          </div>
        </div>
        {{/if}}

        <div class="title">
          <div class="primary">{{title}}
            <div class="comment">{{subTitle}}</div>
          </div>
          <div class='secondary'>
            {{description}}
          </div>
        </div>
      </div>
      {{yield this (hash
        openPod=(action 'openPod')
        closePod=(action 'closePod')
        changePod=(action 'changePod')
      )}}
      <div class="bottom">
        {{#each menuActions as |item|}}
          <div class="row">
            {{#frost-button class=item.className onClick=(action 'sendAction' item.action)}}{{item.label}}{{/frost-button}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/liquid-if}}
{{/liquid-if}}
