{{#liquid-if isPodVisible}}


	{{#liquid-if podLayer.root class='liquid-pods'}}
        <div class="pod context">
            <div class="header">
                <div class="title">
                    <div class="primary">NodeD [Upper Sandusky CO]</div>
                </div>
            </div>
            <div class="row">
                <div class="property">
                    <div class="title">IP address</div>
                    <div class="value">192.0.1.2</div>
                </div>
                <div class="property">
                    <div class="title">Lat, Long</div>
                    <div class="value">42.66, -73.76</div>
                </div>
            </div>
            <div class="row">
                <div class="property">
                    <div class="title">Address</div>
                    <div class="value">Undefined</div>
                </div>
            </div>
        </div>
        <div class="pod context">
            <div class="header">
                <div class="title">
                    <div class="primary">5 Links</div>
                    <div class="secondary"><span class="critical">3 down</span>, 1 unassociated</div>
                </div>
            </div>
        </div>
        <div class="pod context action" {{action (action 'openPod' 'alarms' 'Alarms')}}>
            <div class="header">
                <div class="title">
                    <div class="primary">15 Alarms</div>
                    <div class="secondary">
                        <span class="critical">5C</span>
                        <span class="major">5M</span>
                        <span class="warning">5w</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="pod context">
            <div class="header">
                <div class="title">
                    <div class="primary">OTDR traces</div>
                    <div class="secondary">1 recent</div>
                </div>
            </div>
        </div>
		{{else liquid-if podLayer.alarms}}
            <div class="pod context">
                <div class="header">
                    <div class="title">
                        <div class="breadcrumb action">
							{{#each podNames as |stack|}}
                                <span {{action (action 'changePod' stack)}}>{{stack}}/</span>
							{{/each}}
                        </div>
                        <div class="primary">{{podLayerAlias}}</div>
                    </div>
                </div>
            </div>
            <div class="pod context">
                <div class="header">
                {{#frost-button class='close tertiary icon' onClick=(action 'closePod')}}
                          {{frost-icon icon='frost/chevron'}}
                        {{/frost-button}}
                    <div class="title">

                        <div class="primary">Child title</div>
                        <div class="secondary">Subtext</div>
                    </div>
                </div>
                <div class="body">
                    Child context
                </div>
            </div>

            <div class="pod context action" {{action (action 'openPod' 'alarmsT1' 'Type-1 Alarms')}}>
                <div class="header">
                    <div class="title">
                        <div class="primary">6 Alarms type-1 Detail</div>
                        <div class="secondary">
                            <span class="critical">2C</span>
                            <span class="major">2M</span>
                            <span class="warning">2w</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pod context action" {{action (action 'openPod' 'alarmsT2' 'Type-2 Alarms')}}>
                <div class="header">
                    <div class="title">
                        <div class="primary">9 Alarms type-2 Detail</div>
                        <div class="secondary">
                            <span class="critical">3C</span>
                            <span class="major">3M</span>
                            <span class="warning">3w</span>
                        </div>
                    </div>
                </div>
            </div>

		{{/liquid-if}}

		{{#liquid-if podLayer.alarmsT1 class='liquid-pods'}}
            <div class="pod context">
                <div class="header">
                    <div class="title">
                        <div class="breadcrumb action">
							{{#each podNames as |stack|}}
                                <span {{action (action 'changePod' stack)}}>{{stack}}/</span>
							{{/each}}
                        </div>
                        <div class="primary">{{podLayerAlias}}</div>
                    </div>
                </div>
            </div>
            <div class="pod context">
                <div class="header">
                {{#frost-button class='close tertiary icon' onClick=(action 'closePod')}}
                          {{frost-icon icon='frost/chevron'}}
                        {{/frost-button}}
                    <div class="title">
                        <div class="primary">Child title</div>
                        <div class="secondary">Subtext</div>
                    </div>
                </div>
                <div class="body">
                    Child context
                </div>
            </div>
            <div class="pod context">
                <div class="header">
                    <div class="title">
                        <div class="primary">Description</div>
                        <div class="secondary">Oh furniture acuteness suspected continual
                        </div>
                    </div>
                </div>
            </div>
		{{/liquid-if}}

		{{#liquid-if podLayer.alarmsT2 class='liquid-pods'}}
            <div class="pod context">
                <div class="header">
                    <div class="title">
                        <div class="breadcrumb action">
							{{#each podNames as |stack|}}
                                <span {{action (action 'changePod' stack)}}>{{stack}}/</span>
							{{/each}}
                        </div>
                        <div class="primary">{{podLayerAlias}}</div>
                    </div>
                </div>
            </div>
            <div class="pod context">
                <div class="header">
                {{#frost-button class='close tertiary icon' onClick=(action 'closePod')}}
                          {{frost-icon icon='frost/chevron'}}
                        {{/frost-button}}
                    <div class="title">
                        <div class="primary">Child title</div>
                        <div class="secondary">Subtext</div>
                    </div>
                </div>
                <div class="body">
                    Child context
                </div>
            </div>
            <div class="pod context">
                <div class="header">
                    <div class="title">
                        <div class="primary">Description</div>
                        <div class="secondary">Oh furniture acuteness suspected continual
                        </div>
                    </div>
                </div>
            </div>
		{{/liquid-if}}





	{{/liquid-if}}
