{{#liquid-unless isPodVisible}}

{{else}}
	{{#liquid-if podLayer.root class='liquid-pods'}}
		<div class="pod context">
			<div class="title">
				Dummy records
			</div>
			<div class="body">
				{{frost-text id="action" onInput=(action 'filterList')}}
				{{#frost-list onSelect=(action 'selected') records=_records as |record|}}
					{{#if (eq record.record-type 'custom')}}
						<div>
							{{record.alias}}
						</div>
					{{/if}}
				{{/frost-list}}
			</div>
		</div>
		<div class="pod actions primary">
			{{#frost-button class='primary text' onClick=(action 'openPod' 'child')}}
				Open child pod
			{{/frost-button}}
		</div>
		<div class="pod actions secondary">
			Root secondary action
		</div>
	{{else liquid-if podLayer.child}}
		<div class="pod context">
    <div class="header">
    {{#frost-button class='close tertiary icon' onClick=(action 'closePod')}}
					{{frost-icon path='frost/chevron'}}
				{{/frost-button}}
        <div class="title">
				Child title
			</div>
    </div>
			<div class="body">
				Child context
			</div>
		</div>
		<div class="pod actions primary">
			Child primary action
		</div>
		<div class="pod actions secondary">
			Child secondary action
		</div>
	{{/liquid-if}}
{{/liquid-unless}}
